menu "Ethernet PHY Support"

choice PHY_MODULE
    prompt "Ethernet PHY Module"
    default PHY_TLK110
    help
        Select the PHY module on your board.
config PHY_TLK110
    bool "TI TLK110 PHY"
    help
        Select this to use the TI TLK110 PHY
config PHY_LAN8720
    bool "Microchip LAN8720 PHY"
    help
        Select this to use the Microchip LAN8720 PHY
endchoice

choice PHY_CLOCK_MODE_CHOICE
    prompt "EMAC clock mode"
    default PHY_CLOCK_GPIO0_IN
    help
        Select external (input on GPIO0) or internal (output on GPIO0, GPIO16 or GPIO17) clock
config PHY_CLOCK_GPIO0_IN
    bool "GPIO0 input"
    help
        Input of 50MHz refclock on GPIO0
config PHY_CLOCK_GPIO0_OUT
    bool "GPIO0 output"
    help
        Output the internal 50MHz APLL clock on GPIO0
config PHY_CLOCK_GPIO16_OUT
    bool "GPIO16 output"
    help
        Output the internal 50MHz APLL clock on GPIO16
config PHY_CLOCK_GPIO17_OUT
    bool "GPIO17 output (inverted)"
    help
        Output the internal 50MHz APLL clock on GPIO17 (inverted signal)
endchoice
config PHY_CLOCK_MODE
    int
    default 0 if PHY_CLOCK_GPIO0_IN
    default 1 if PHY_CLOCK_GPIO0_OUT
    default 2 if PHY_CLOCK_GPIO16_OUT
    default 3 if PHY_CLOCK_GPIO17_OUT

config PHY_ADDRESS
    int "PHY Address"
    default 31
    range 0 31
    help
        Enter the Chip Address (0-31) for ETH PHY
        The address must be in accord with your board configuration

config PHY_SMI_MDC_PIN
    int "SMI MDC Pin"
    default 23
    range 0 33
    help
        GPIO number to use for SMI clock output MDC to PHY.

config PHY_SMI_MDIO_PIN
    int "SMI MDIO Pin"
    default 18
    range 0 33
    help
       GPIO number to use for SMI data pin MDIO to/from PHY.

if PHY_CLOCK_GPIO0_IN
config PHY_OSC_USE_EN_PIN
    bool "Use PHY Power (enable/disable) pin"
    default y
    help
        Use a GPIO "power pin" to power the PHY on/off during operation.
endif

if PHY_OSC_USE_EN_PIN
config PHY_POWER_PIN
    int "PHY Power GPIO"
    default 17
    range 0 33
    help
        GPIO number to use for powering on/off the PHY.
endif

endmenu

menu "PTP Support"

endmenu
